<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reply_edit-style.css">
    <title>Edit Reply | Agatter</title>
</head>
<body>
    <div class="main-container">
        <%- include('../partials/nav.ejs') %>
        <h2>Edit your Reply</h2>
        <form action="/posts/<%= foundPost._id %>/replies/edit/<%= reply._id %>?_method=PUT" method="POST">
            <textarea name="content" cols="30" rows="10"><%= reply.content %></textarea>
            <input type="submit" value="Update this Post">
            <a href="/posts/<%= foundPost._id %>">Cancel</a>
        </form>
    </div>
</body>
</html>