<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/show-style.css">
    <title>Agatter</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h2><%= foundPost.addedBy.username %>'s Post</h2>
    <div class="content-wrapper">
        <p><%= foundPost.content %></p>

        <% if(user._id.equals(foundPost.addedBy._id)) { %>
            <form action="/posts/<%= foundPost._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form>
            <a href="/posts/<%= foundPost._id %>/edit">Edit this Post</a>
        <% } %>

    </div>
    <div class="replies-wrapper">
        <h3>Replies</h3>
        <% foundPost.replies.forEach( r => { %>
            <div class="reply-content">
                <p><span><strong><%= r.addedBy.username %></strong>: </span><%= r.content %></p>
                <% if(user._id.equals(r.addedBy._id)) { %>
                    <form action="/posts/<%= foundPost._id %>/replies/<%= r._id %>?_method=PUT" method="POST">
                        <input type="submit" value="Delete Reply">
                    </form>
                    <a href="/posts/<%= foundPost._id %>/replies/<%= r._id %>">Edit Reply</a>
                <% } %>
            </div><br>
        <% }); %>
        <div class="reply-box">
            <form action="/posts/<%= foundPost._id%>/replies" method="POST">
                <label>
                    <textarea name="content" cols="30" rows="10" placeholder="Write your reply here"></textarea>
                </label><br>
                <input type="submit" value="Reply">
            </form>
        </div>
    </div>
    <a href="/posts">Back</a>
</body>
</html>